**/node_modules/
**/.git
**/.gitmodules
.env
**/*.log
nohup.out
Dockerfile
.dockerignore
apps/platform/workflows/
apps/platform/docs/.vitepress/
apps/web/dist/
apps/platform/src/impl/ModuleWorkflowStarter.ts
apps/platform/src/impl/WebhookEntrypointNode.ts